* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
img {
  width: 200px;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.primary_title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.primary_subtitle {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
/* SHARED STYLES  */
.primary_btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  font-weight: 800;
  border: none;
  cursor: pointer;
  border: 1px solid #ff5400;
  transition: background 0.4s ease-in-out;
}
.primary_btn:hover {
  background: #fff;
  color: #ff5400;
  border: 1px solid #ff5400;
}
/* HEADER  STYLES  */
.header {
  padding: 50px 0;
  width: 100%;
  display: flex;
  gap: 398.37px;
  align-items: center;
  justify-content: center;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 16.63px;
  color: #131318;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 800;
}

.header_logo img {
  width: 48px;
  height: 56.008px;
  object-fit: contain;
}
.header_logo span {
  color: #ff5400;
}
.header_menu {
  margin-top: 3px;
}
.header_menu ul {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header_menu ul li {
  font-size: 1.125rem;
  cursor: pointer;
  font-weight: 400;
  transition: font-weight 0.4s ease-in-out;
}
.header_menu ul li:hover {
  color: #ff5400;
  font-weight: 700;
}
.header_menu ul li:nth-child(1) {
  color: #ff5400;
  font-weight: 700;
}
.header_menu_mobile_device {
  display: none;
}
/* BANNER SECTION STYLES  */
.banner_section {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_container {
  width: 1170px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  border-radius: 16px;
  position: relative;
}
.banner_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;

  z-index: -1;
}
.banner_title {
  color: #fff;
  font-size: 4rem;
}
.banner_description {
  margin-top: 24px;
  margin-bottom: 48px;
  width: 676px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.banner_from {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.first_inp {
  padding-left: 16px;
  width: 174px;
  height: 52px;
  background: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.5);
}

.input {
  padding-left: 15px;
  padding-right: 14px;
  width: 174px;
  height: 52px;
  display: flex;
  align-items: center;
  gap: 74px;
  background: #fff;
  border-radius: 8px;
}
.input input {
  width: 50%;
  color: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  outline: none;
  font-size: 1rem;
}
.input img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
}

.input_btn {
  width: 174px;
  height: 52px;
  background: #ff5400;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.input_btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
/* POPULAR TOUR SECTION STYLES  */
.popular_tours_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular_tour_container {
  display: flex;
  gap: 53px;
}
.popular_tour_text_content {
  width: 577px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.popular_tour_title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.popular_tour_subtitle {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
.popular_tour_text_content ul {
  width: 525px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popular_tour_text_content ul li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  list-style: disc;
}
.popular_tour_description {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.popular_tour_btn {
  margin-top: 8px;
  transition: all ease-in-out 0.4s;
  border: 1px solid #ff5400;
}
.popular_tour_btn:hover {
  background-color: #fff;
  color: #ff5400;
  border: 1px solid #ff5400;
}
.popular_img_content {
  width: 540px;
  height: 550px;
  border-radius: 16px;
}
.popular_img_content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* DESTINATION SECTION STYLES  */
.destination_section {
  margin-top: 100px;
}
.destination_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.destination_title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.destination_subtitle {
  margin-top: 24px;
  margin-bottom: 48px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.destination_gallery_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.gallery_row_one {
  display: flex;
  gap: 24px;
}
.gallery_img {
  width: 573px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  border-radius: 18px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: relative;
}
.gallery_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Images/Rectangle\ 5.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  z-index: -1;
}
.gallery_img:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Images/Rectangle\ 8.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  z-index: -1;
}
.gallery_row_two {
  display: flex;
  align-items: center;
  gap: 24px;
}
.gallery_img_two:nth-child(1) {
  width: 374px;
  height: 286px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  border-radius: 18px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: relative;
}
.gallery_img_two:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Images/Rectangle\ 6.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  z-index: -1;
}
.gallery_img_two:nth-child(2) {
  width: 474px;
  height: 286px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  border-radius: 18px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: relative;
}
.gallery_img_two:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Images/Rectangle\ 7.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  z-index: -1;
}
.gallery_img_two:nth-child(3) {
  width: 274px;
  height: 286px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  border-radius: 18px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: relative;
}
.gallery_img_two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  z-index: -1;
}
.gallery_row_three {
  display: flex;
  align-items: center;
  gap: 24px;
}
.gallery_img_three:nth-child(1) {
  width: 473px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  border-radius: 18px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: relative;
}
.gallery_img_three:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Images/Rectangle\ 111.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  z-index: -1;
}
.gallery_img_three:nth-child(2) {
  width: 673px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  border-radius: 18px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: relative;
}
.gallery_img_three:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Images/Rectangle\ 10.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  z-index: -1;
}
/* CHOOSE US SECTION STYLES  */
.choose_us_section {
  margin-top: 100px;
}
.choose_us_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose_us_subtitle {
  margin-top: 24px;
  margin-bottom: 48px;
  text-align: center;
  line-height: 26px;
}
.choose_us_card_content {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.choose_us_card {
  padding: 32px;
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.choose_us_card:nth-child(2) {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.choose_us_card img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.card_title {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 1.5rem;
  color: #131318;
  font-weight: 800;
}
.card_subtitle {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 32px;
  overflow: hidden;
  /* line-height: 26px; */
}
/* DISCOUNT SECTION STYLES */
.discount_section {
  margin-top: 100px;
}
.discount_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discount_title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.discount_subtitle {
  margin-top: 24px;
  margin-bottom: 48px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.discount_card_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.discount_card {
  width: 1170px;
  height: 500px;
  position: relative;
  border-radius: 16px;
}
.discount_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: url("./Images/Group\ 39.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.discount_card:nth-child(2) {
  background: url("./Images/Group\ 40.png");
}
.discount_card:nth-child(3) {
  background: url("./Images/Group\ 39.png");
}
.discount_overlay_card {
  padding: 50px;
  position: absolute;
  top: 56px;
  right: 56px;
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.second_overlay_card {
  padding: 50px;
  position: absolute;
  top: 56px;
  left: 56px;
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.time_user_location_row {
  display: flex;
  gap: 24px;
  align-items: center;
}
.time {
  display: flex;
  gap: 8px;
  align-items: center;
}
.user {
  display: flex;
  gap: 8px;
  align-items: center;
}
.card_svg img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.discount_overlay_title {
  margin-top: 24px;
  margin-bottom: 16px;
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.discount_overlay_description {
  margin-bottom: 16px;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
.discount_price {
  margin-bottom: 24px;
  color: #ff5400;
  font-weight: 800;
  font-size: 1.25rem;
}
/* PERFECT PLACE SECTION STYLES */
.perfect_place_section {
  margin-top: 100px;
}
.perfect_place_container {
  display: flex;
  justify-content: center;
  gap: 28px;
}
.perfect_place_text_content {
  width: 532px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.perfect_place_title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.perfect_place_subtitle {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
.perfect_place_list {
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.perfect_place_list li {
  list-style: disc;
  color: #131318;
  font-size: 1rem;
  font-weight: 700;
}
.perfect_place_btn {
  margin-top: 8px;
  transition: all 0.4s ease-in-out;
  border: 1px solid #ff5400;
}
.perfect_place_btn:hover {
  background: #fff;
  color: #ff5400;
}
.perfect_place_vdo_content {
  width: 610px;
  height: 424px;
}
.perfect_place_vdo_content iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: contain;
}
/* OUR TRAVEL STROY SECTION STYLES  */
.travel_story {
  margin-top: 100px;
}
.travel_story_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.travel_story_title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.travel_story_subtitle {
  margin: 10px 0;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
.travel_story_content {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.travel_story_card {
  width: 350px;
  height: 300px;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 80%,
    rgba(19, 19, 24, 0.2) 100%
  );
  border-radius: 8px;
}
.travel_story_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.travel_story_card_title_date {
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 5px;
  z-index: 999;
  color: #fff;
}
/* NEWSLETTER SECTION STYLES  */
.newsletter_section {
  margin-top: 100px;
}
.newsletter_container {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.newsletter_form_content {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  position: relative;
}
.newsletter_from_title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.newsletter_from_subtitle {
  margin-top: 16px;
  margin-bottom: 24px;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
.newsletter_dash {
  margin-bottom: 24px;
  width: 393px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.newsletter_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.newsletter_form input {
  padding: 16px 20px;
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  outline: none;
  color: rgba(19, 19, 24, 0.3);
  font-size: 1rem;
  font-weight: 400;
}
.newsletter_btn {
  width: 393px;
  height: 52px;
  border: 1px solid #ff5400;
  transition: all 0.4s ease-in-out;
}
.newsletter_btn:hover {
  background: #fff;
  border: 1px solid #ff5400;
  color: #ff5400;
}
.newsletter_img_content {
  width: 672px;
  height: 422px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter_img_content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.save {
  position: absolute;
  top: 50px;
}
.save {
  content: "";
  position: absolute;
  top: 255px;
  left: 342px;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.save span {
  font-weight: 800;
}

/* FOOTER SECTION STYLES  */
.footer_section {
  /* margin-top: 100px; */
  background: rgba(19, 19, 24, 0.05);
}
.footer_container {
  width: 100%;
  height: 502px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_logo {
  width: 240.673px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}
.footer_logo img {
  width: 40px;
  height: 100%;
}
.footer_logo span {
  color: #ff5400;
}
.footer_subtitle {
  margin-top: 15px;
  margin-bottom: 33px;
  text-align: center;
}
.footer_social_icons {
  display: flex;
  gap: 20px;
}
.icon {
  font-size: 40px;
}
.footer_dash {
  margin: 50px 0;
  width: 80%;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.copyright {
  color: #131318;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
/* PARTNER SECTION STYLES  */

.partner_section {
  margin-top: 100px;
}
.partner_container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.partner_container img {
  width: 200px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  transition: background 0.4s ease-in-out;
}

@media screen and (max-width: 600px) {
  /* HEADER SECTION RESPONSIVE STYLES  */
  .header {
    padding: 0;
    gap: 0;
    justify-content: space-between;
  }
  .header_logo {
    padding: 20px 0 20px 20px;
    gap: 9.95px;
    font-size: 21.543px;
  }
  .header_logo img {
    width: 28.724px;
    height: 33.516px;
    object-fit: contain;
  }
  .header_menu {
    display: none;
  }
  .header_menu_mobile_device {
    display: block;
    padding: 20px 20px 20px 0;
  }
  .header_menu_mobile_device img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  /* BANNER SECTION RESPONSIVE STYLES  */
  .banner_section {
    padding: 0 20px;
    margin-bottom: 24px;
    width: 100%;
  }
  .banner_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner_title {
    font-size: 22px;
  }
  .banner_description {
    margin-top: 8px;
    margin-bottom: 32px;
    width: 304px;
  }
  .banner_from {
    flex-direction: column;
    gap: 16px;
  }
  .inp {
    min-width: 255px;
  }
  /* POPULAR TOUR SECTION RESPONSIVE STYLES  */
  .popular_tour_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .popular_tour_text_content {
    padding: 0 20px;
    width: 100%;
    gap: 16px;
  }
  .popular_tour_title {
    font-size: 1.25rem;
  }
  .popular_tour_subtitle {
    font-size: 14px;
  }
  .popular_tour_text_content ul {
    width: 100%;
    padding: 0 15px;
  }
  .popular_tour_description br {
    display: none;
    line-height: 24px;
  }
  .popular_tour_text_content ul li {
    font-size: 14px;
  }
  .popular_img_content {
    padding: 0 20px;
    width: 100%;
    height: auto;
  }

  /* DESTINATION SECTION RESPONSIVE STYLES  */
  .destination_section {
    margin-top: 24px;
  }
  .destination_container {
    margin: 0 20px;
  }
  .destination_title {
    font-size: 20px;
  }
  .destination_subtitle {
    margin: 16px 0;
    padding: 0 33px;
    font-size: 14px;
  }
  .destination_gallery_content {
    width: 100%;
    gap: 16px;
  }
  .gallery_row_one,
  .gallery_row_two,
  .gallery_row_three {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .gallery_row_one .gallery_img {
    width: 100%;
    height: 176px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  .gallery_row_two .gallery_img_two {
    width: 100%;
    height: 176px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  .gallery_row_three .gallery_img_three {
    width: 100%;
    height: 176px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  /* CHOOSE US SECTION RESPONSIVE STYLES  */
  .choose_us_section {
    margin-top: 24px;
  }
  .choose_us_title {
    font-size: 20px;
  }
  .choose_us_subtitle {
    padding: 0 33px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .choose_us_subtitle br {
    display: none;
  }
  .choose_us_card_content {
    width: 100%;
    gap: 16px;
  }
  .choose_us_card {
    margin: 0 20px;
    overflow: hidden;
  }
  .choose_us_card img {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
  .card_title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
  }
  .card_subtitle {
    font-size: 14px;
    line-height: 24px;
  }
  /* DISCOUNT SECTION RESPONSIVE STYLES */
  .discount_section {
    margin-top: 24px;
  }
  .discount_container {
    display: flex;
    flex-direction: column;
  }
  .discount_title {
    font-size: 20px;
  }
  .discount_subtitle br {
    display: none;
  }
  .discount_subtitle {
    margin: 16px 0;
    padding: 0 33px;
  }
  .discount_card_container {
    width: 100%;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
  .discount_card {
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .discount_overlay_card {
    margin-bottom: 16px;
    position: relative;
    padding: 24px 25px;
    top: 0;
    left: 0;
    width: 90%;
    height: 297px;
  }
  .time_user_location_row {
    flex-wrap: wrap;
    gap: 0;
  }
  .discount_overlay_title {
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 20px;
  }
  .discount_overlay_description {
    width: 254px;
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
  }
  .discount_price {
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 1rem;
  }
  .over_card_btn {
    width: 130px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
  }
  /* PERFECT PLACES SECTION RESPONSIVE STYLES  */
  .perfect_place_section {
    margin-top: 24px;
  }
  .perfect_place_container {
    flex-direction: column;
  }
  .perfect_place_text_content {
    padding: 0 20px;
    width: 100%;
  }
  .perfect_place_title {
    font-size: 20px;
  }
  .perfect_place_subtitle {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .perfect_place_list li {
    font-size: 14px;
    font-weight: 700;
  }
  .perfect_place_vdo_content {
    padding: 0 20px;
    width: 100%;
    height: 424px;
    border-radius: 16px;
  }
  /* OUR TRAVEL STORY RESPONSIVE STYLES  */
  .travel_story {
    margin-top: 24px;
  }
  .travel_story_subtitle br {
    display: none;
  }
  .travel_story_title {
    font-size: 20px;
  }
  .travel_story_subtitle {
    padding: 0 20px;
    text-align: center;
  }
  .travel_story_content {
    padding: 0 20px;
    width: 100%;
  }
  .travel_story_card {
    width: 100%;
  }
  /* NEWSLETTER SECTION RESPONSIVE STYLES  */
  .newsletter_section {
    margin-top: 24px;
  }
  .newsletter_container {
    margin: 0 20px;
    flex-direction: column;
    gap: 16px;
  }
  .newsletter_form_content {
    padding: 24px 24px 24px 23px;
  }
  .newsletter_from_subtitle {
    font-size: 14px;
  }
  .newsletter_dash {
    width: 100%;
  }
  .newsletter_form input {
    width: 100%;
    height: 100%;
  }
  .newsletter_btn {
    width: 100%;
  }
  .newsletter_img_content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .save {
    width: 60%;
    height: 40%;
    top: 100px;
    left: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15.854px;
  }
  .save span {
    font-size: 21.138px;
  }

  /* PARTNER SECTION RESPONSIVE STYLES  */
  .partner_section {
    margin-top: 24px;
  }
  .partner_container {
    flex-direction: column;
  }
  /* FOOTER SECTION RESPONSIVE STYLES  */
  .footer_section {
    margin-top: 40px;
  }
  .footer_container {
    width: 100%;
  }
  .footer_logo {
    margin-top: 32px;
    font-size: 21.543px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer_logo img {
    width: 28.724px;
    height: 33.516px;
  }
  .footer_subtitle br {
    display: none;
  }
  .footer_subtitle {
    margin: 16px 0;
    padding: 0 40px;
  }

  .footer_social_icons {
    margin: 0;
  }
  .footer_dash {
    width: 80%;
    margin: 24px 0;
    padding: 0 20px;
  }
  .copyright {
    margin-bottom: 31.28px;
  }
}
