* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
img {
  width: 200px;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
/* SHARED STYLES  */
.primary_btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  font-weight: 800;
  border: none;
  cursor: pointer;
}
/* HEADER  STYLES  */
.header {
  padding: 50px 0;
  width: 100%;
  display: flex;
  gap: 398.37px;
  align-items: center;
  justify-content: center;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 16.63px;
  color: #131318;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 800;
}

.header_logo img {
  width: 48px;
  height: 56.008px;
  object-fit: contain;
}
.header_logo span {
  color: #ff5400;
}
.header_menu {
  margin-top: 3px;
}
.header_menu ul {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header_menu ul li {
  font-size: 1.125rem;
  cursor: pointer;
  font-weight: 400;
  transition: font-weight 0.4s ease-in-out;
}
.header_menu ul li:hover {
  color: #ff5400;
  font-weight: 700;
}
.header_menu ul li:nth-child(1) {
  color: #ff5400;
  font-weight: 700;
}
.header_menu_mobile_device {
  display: none;
}
/* BANNER SECTION STYLES  */
.banner_section {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_container {
  width: 1170px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  border-radius: 16px;
  position: relative;
}
.banner_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;

  z-index: -1;
}
.banner_title {
  color: #fff;
  font-size: 4rem;
}
.banner_description {
  margin-top: 24px;
  margin-bottom: 48px;
  width: 676px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.banner_from {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.first_inp {
  padding-left: 16px;
  width: 174px;
  height: 52px;
  background: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.5);
}

.input {
  padding-left: 15px;
  padding-right: 14px;
  width: 174px;
  height: 52px;
  display: flex;
  align-items: center;
  gap: 74px;
  background: #fff;
  border-radius: 8px;
}
.input input {
  width: 50%;
  color: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  outline: none;
  font-size: 1rem;
}
.input img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
}

.input_btn {
  width: 174px;
  height: 52px;
  background: #ff5400;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.input_btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
/* POPULAR TOUR SECTION STYLES  */
.popular_tours {
  display: flex;
  justify-content: center;
}
.popular_tour_container {
  display: flex;
  gap: 53px;
}
.popular_tour_text_content {
  width: 577px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.popular_tour_title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.popular_tour_subtitle {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
.popular_tour_text_content ul {
  width: 525px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popular_tour_text_content ul li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  list-style: disc;
}
.popular_tour_description {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.popular_tour_btn {
  margin-top: 8px;
  transition: all ease-in-out 0.4s;
  border: 1px solid #ff5400;
}
.popular_tour_btn:hover {
  background-color: #fff;
  color: #ff5400;
  border: 1px solid #ff5400;
}
.popular_img_content {
  width: 540px;
  height: 550px;
  border-radius: 16px;
}
.popular_img_content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 600px) {
  /* HEADER SECTION RESPONSIVE STYLES  */
  .header {
    padding: 0;
    gap: 0;
    justify-content: space-between;
  }
  .header_logo {
    padding: 20px 0 20px 20px;
    gap: 9.95px;
    font-size: 21.543px;
  }
  .header_logo img {
    width: 28.724px;
    height: 33.516px;
    object-fit: contain;
  }
  .header_menu {
    display: none;
  }
  .header_menu_mobile_device {
    display: block;
    padding: 20px 20px 20px 0;
  }
  .header_menu_mobile_device img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  /* BANNER SECTION RESPONSIVE STYLES  */

  .banner_container {
    margin: 0 20px;
  }
  .banner_title {
    font-size: 22px;
  }
  .banner_description {
    margin-top: 8px;
    margin-bottom: 32px;
    width: 304px;
  }
  .banner_from {
    flex-direction: column;
    gap: 16px;
  }
  .inp {
    min-width: 255px;
  }
  /* POPULAR TOUR SECTION RESPONSIVE STYLES  */

  .popular_tour_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .popular_tour_text_content {
    padding: 0 20px;
    width: 100%;
    gap: 16px;
  }
  .popular_tour_title {
    font-size: 1.25rem;
  }
  .popular_tour_subtitle {
    font-size: 14px;
  }
  .popular_tour_text_content ul {
    width: 100%;
    padding: 0 10px;
  }
  .popular_tour_description br {
    display: none;
    line-height: 24px;
  }
  .popular_tour_text_content ul li {
    font-size: 14px;
  }
  .popular_img_content {
    margin: 0 20px;
    width: 90%;
  }
}
