* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
img {
  width: 200px;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
/* HEADER  STYLES  */
.header {
  padding: 50px 0;
  width: 100%;
  display: flex;
  gap: 398.37px;
  align-items: center;
  justify-content: center;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 16.63px;
  color: #131318;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 800;
}

.header_logo img {
  width: 48px;
  height: 56.008px;
  object-fit: contain;
}
.header_logo span {
  color: #ff5400;
}
.header_menu {
  margin-top: 3px;
}
.header_menu ul {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header_menu_mobile_device {
  display: none;
}
@media screen and (max-width: 600px) {
  .header {
    padding: 0;
    gap: 0;
    justify-content: space-between;
    border: 2px solid crimson;
  }
  .header_logo {
    padding: 20px 0 20px 20px;
    gap: 9.95px;
    font-size: 21.543px;
  }
  .header_logo img {
    width: 28.724px;
    height: 33.516px;
    object-fit: contain;
  }
  .header_menu {
    display: none;
  }
  .header_menu_mobile_device {
    padding: 20px 20px 20px 0;
  }
  .header_menu_mobile_device img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}
